<title>Magsmen | Your Brand Experts!</title>
<meta name="description" content="At Magsmen, we don't simply tell stories - we make them. Drawing inspiration from the word 'Magsman', meaning storytelling, our team works to craft impactful solutions for your brand's most pressing challenges and help you build a legacy in your line of industry.">
<meta name="keywords" content="brand consultent, Brand Experts">


{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <!-- <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div> -->
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                            <!-- <h1 class="mil-mb-60">Designing a <br> Better <span class="mil-thin">World Today</span></h1>
                            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our works</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <section id="about">
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6 col-xl-5">

                                <div class="mil-mb-90">
                                    <h2 class="mil-up mil-mb-60">Sandeep<br><span class="mil-thin">Founder of Magsmen Brand Consultants</span></h2>

                                    <p class="mil-up mil-mb-30">
                                        Magsmen's journey began in 2020, led by the visionary Mr. N. Sandeep. Leveraging his 8+ years of brand-building expertise, his innovative approach has positioned Magsmen as a leading force in the industry within four years.
                                    </p>

                                    <p class="mil-up mil-mb-60">Honored with several prestigious awards, Mr. Sandeep goes beyond formulas, believing in the power of brand storytelling to unlock growth potential for businesses of all sectors.
                                    </p>

                                    <!-- <p class="mil-up mil-mb-30">
                                        We combine in-depth analysis with powerful storytelling to
                                        ensure your
                                        brand stands out in the market.
                                    </p> -->


                                    <!-- <div class="mil-about-quote">
                                        <div class="mil-avatar mil-up">
                                            <img src="{% static 'assets/img/photo/sandeep-pic-icon.jpg' %}" alt="Founder">
                                        </div>
                                        <h6 class="mil-quote mil-up">Passionately Creating <span class="mil-thin">Brand Wonders:</span> Unleashing <span class="mil-thin">Boundless Creativity</span></h6>
                                    </div> -->
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="mil-about-photo mil-mb-90">
                                    <div class="mil-lines-place"></div>
                                    <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                                        <img src="{% static 'assets/img/photo/sandeep-img-oo.png' %}" alt="monogram-wise-owl" class="mil-scale" data-value-1="1" data-value-2="1.2">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- about end -->



                <!-- partners -->
                <!-- <div class="mil-soft-bg">
                    <div class="container mil-p-0-120">

                        <div class="swiper-container mil-infinite-show mil-up">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#." class="mil-partner-frame" style="width: 60px;"><img src="{% static 'assets/img/partners/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#." class="mil-partner-frame" style="width: 100px;"><img src="{% static 'assets/img/partners/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#." class="mil-partner-frame" style="width: 60px;"><img src="{% static 'assets/img/partners/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#." class="mil-partner-frame" style="width: 100px;"><img src="{% static 'assets/img/partners/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logo"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->
                <!-- partners end -->
                


            </div>
        </div>
        <!-- content -->

{% endblock %}
