

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-animation-frame">
                        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                    </div>
                    <div class="mil-banner-content mil-up">
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/expertise/">Services</a></li>
                                <li><a href="#.">Service</a></li>
                            </ul>
                            <!-- <h1 class="mil-mb-60">Brand<span class="mil-thin">Consulting</span></h1>
                            <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>About service</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- service -->
                <section id="service">
                    <div class="container mil-p-120-90">
                        <div class="row justify-content-between video-sec">
                            <div class="col-lg-4 mil-relative mil-mb-90">

                                <h4 class="mil-up mil-mb-30">Corporate <span class="mil-thin">Rebranding</span></h4>
                                <p class="mil-up mil-mb-30">We give your brand a refresh to keep up your brand with changes
                                    in the marketplace by tweaking your brand’s existing assets.</p>
                                <div class="mil-up">
                                    <a href="/works/" class="mil-link mil-dark mil-arrow-place">
                                        <span>View works</span>
                                    </a>
                                </div>

                                <div class="brand-consulting-video">
                                    <video loop="" muted="" autoplay="" playsinline="">
                                        <source src="/static/assets/img/video/magsmen-corporate-rebranding-consulting-service-850x400.mp4" type="video/mp4" alt="corporate-rebranding">
                                    </video>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <ul class="corporate-rebranding-list-points">
                                    <li>Research on the rebranding opportunity and challenges for the brand</li>
                                    <li>Revamping the entire identity</li>
                                    <li>Rephrasing the entire brand voice</li>
                                    <li>Changing your brand inside out</li>
                                    <li>Brand stationery</li>
                                    <li>Revamped brand positioning</li>
                                </ul>
                                <a href="/expertise/" class="mil-service-card-lg mil-more mil-accent-cursor pt-5">Back To Services</a>
                                <!-- <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">IMAGE CREATION/INITIAL CONSULTING</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Our image consulting starts with digging into who you are, what sets you apart, what you want to communicate by your visual appearance and more.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">CLOSET EDIT WARDROBE STYLING AUDIT</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">We’ll go through your closet piece by piece to figure out what you should keep, or donate. You’ll try garments to get advice on fit, we’ll identify what the gaps are in your closet and organize in a way so you can wear everything.</p>
                                       
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">PERSONALIZED OUTFIT GUIDE</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">You’ll never again have to ask yourself ‘what should I wear today?’ You’ll receive a customized outfit guide - based off of items that you currently own, love and are hanging in your closet.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">WE DRIVE CONVERSATIONS</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Engage your audience with topics that would interest them. Create a dialogue with your audience and exchange thoughts.</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

{% endblock %}
