


{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-animation-frame">
                        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                    </div>
                    <div class="mil-banner-content mil-up">
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/expertise/">Services</a></li>
                                <li><a href="#.">Service</a></li>
                            </ul>
                            <!-- <h1 class="mil-mb-60">Brand<span class="mil-thin">Consulting</span></h1>
                            <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>About service</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- service -->
                <section id="service">
                    <div class="container mil-p-120-90">
                        <div class="row justify-content-between video-sec">
                            <div class="col-lg-4 mil-relative mil-mb-90">

                                <h4 class="mil-up mil-mb-30">Link<span class="mil-thin"> Fluence</span></h4>
                                <p class="mil-up mil-mb-30">We craft a profile that not just build networks,
                                    but a platform of influence.</p>
                                <div class="mil-up">
                                    <a href="portfolio-3.html" class="mil-link mil-dark mil-arrow-place">
                                        <span>View works</span>
                                    </a>
                                </div>

                                <div class="brand-consulting-video">
                                    <video loop="" muted="" autoplay="" playsinline="">
                                        <source src="/static/assets/img/video/link-fluence-video-animation.mp4" type="video/mp4" alt="brand-creation-video-animation">
                                    </video>
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">COMPREHENSIVE PROFILE OPTIMIZATION</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">We fine-tune every aspect of your LinkedIn profile, ensuring you make an impactful first impression and reflect your personal brand.</p>

                                        <!-- <p class="mil-mb-30">During a UX audit, a team of UX experts will conduct a thorough review of the website and provide a comprehensive report that outlines specific recommendations for improving the website's usability, accessibility, and overall user experience.</p>

                                        <p class="mil-mb-30">The audit may cover various aspects of the website, such as navigation, layout, visual design, content structure, and mobile responsiveness. The goal is to identify any pain points or obstacles that users may encounter while browsing the website and provide actionable recommendations to improve their experience.</p>

                                        <p class="mil-mb-30">In summary, a UX audit can help website owners identify areas of improvement that can enhance their website's user experience and increase user engagement and satisfaction.</p> -->
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">CONTENT STRATEGY</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">We create a custom content plan aligned with your objectives, posting frequency, and style, helping you engage your audience with powerful storytelling and thought leadership.</p>
                                        <!-- <p class="mil-mb-30">Design thinking encourages a human-centered approach to innovation and is often used in fields such as product design, user experience (UX) design, and business strategy to create user-centric and innovative solutions. It promotes a mindset that embraces experimentation, iteration, and continuous learning throughout the design process.</p> -->
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">STRATEGIC NETWORKING & RELATIONSHIP BUILDING</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Our approach focuses on building relationships that drive long-term influence and professional growth.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">POSITIONING YOUR THOUGHT LEADERSHIP</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Using our deep industry expertise, we craft content that resonates with your target audience, elevating your positioning as a thought leader within your niche.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">PERFORMANCE MONITORING & OPTIMIZATION</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">We track your LinkedIn performance and engagement metrics, making necessary adjustments to your content strategy to keep your voice relevant and effective in the ever-evolving digital landscape.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

{% endblock %}
