<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/works/">Works</a></li>
                                <li><a href="/suryacolors/">Surya Colors</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Surya<span class="mil-thin"> Colors</span></h1>
                            <!-- <a href="#project" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Read more</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- project -->
                <section>
                    <div class="container mil-p-120-120 mil-120-120-p" id="project">
                        <div class="row justify-content-between mil-mb-120 works-content-sec">
                            <div class="col-lg-6">

                                <div class="mil-p-0-120">
                                    <!-- <ul class="mil-service-list mil-dark mil-mb-60">
                                        <li class="mil-up">Client: &nbsp;<span class="mil-dark">Envato Market</span></li>
                                        <li class="mil-up">Date: &nbsp;<span class="mil-dark">April 2023</span></li>
                                        <li class="mil-up">Author: &nbsp;<span class="mil-dark">Paul Trueman</span></li>
                                    </ul> -->

                                    <h5 class="mil-up mil-mb-30">Problem</h5>

                                    <p class="mil-up mil-mb-30">Surya Colors was struggling to increase brand stability and awareness in the highly competitive market. They lacked a clear digital and brand strategy, which was resulting in low engagement and product awareness.</p>

                                    <!-- <p class="mil-up mil-mb-60">Presents a simple and quiet state when not in use, delivering a gentle and security.At the same time, the camera can adapt to a variety of environments, providing elegant ways of wall hanging and standing installation.</p> -->

                                    <!-- <a data-no-swup href="https://www.behance.net/gallery/117994149/Home-Security-Camera?tracking_source=curated_galleries_product-design" target="_blank" class="mil-link mil-dark mil-up  mil-arrow-place">
                                        <span>Visit website</span>

                                    </a> -->
                                </div>



                            </div>
                            <div class="col-lg-6">

                                <div class="mil-image-frame mil-horizontal mil-up mil-mb-30">
                                    <img src="{% static 'assets/img/works/surya-color-one.png' %}" alt="image">
                                    <!-- <a data-fancybox="gallery" data-no-swup href="img/works/2/1.gif" class="mil-zoom-btn">
                                        <img src="img/icons/zoom.svg" alt="zoom">
                                    </a> -->
                                </div>

                            </div>
                        </div>


                        <div class="row justify-content-between mil-mb-120 works-content-sec">
                            <div class="col-lg-6">

                                <div class="mil-p-0-120">
                                    <!-- <ul class="mil-service-list mil-dark mil-mb-60">
                                        <li class="mil-up">Client: &nbsp;<span class="mil-dark">Envato Market</span></li>
                                        <li class="mil-up">Date: &nbsp;<span class="mil-dark">April 2023</span></li>
                                        <li class="mil-up">Author: &nbsp;<span class="mil-dark">Paul Trueman</span></li>
                                    </ul> -->

                                    <h5 class="mil-up mil-mb-30">Strategy</h5>

                                    <p class="mil-up mil-mb-30">Our strategy was to create a comprehensive digital and brand strategy that would increase engagement and product awareness, leading to increased brand stability. We created social media accounts and executed a digital plan to engage with users and increase awareness of the product. We also implemented digital and brand strategy promotions to build the stability of the brand.</p>

                                    <!-- <p class="mil-up mil-mb-60">Presents a simple and quiet state when not in use, delivering a gentle and security.At the same time, the camera can adapt to a variety of environments, providing elegant ways of wall hanging and standing installation.</p> -->

                                    <!-- <a data-no-swup href="https://www.behance.net/gallery/117994149/Home-Security-Camera?tracking_source=curated_galleries_product-design" target="_blank" class="mil-link mil-dark mil-up  mil-arrow-place">
                                        <span>Visit website</span>

                                    </a> -->
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-image-frame mil-horizontal mil-up mil-mb-30">
                                    <img src="{% static 'assets/img/works/surya-color-two.png' %}" alt="image">
                                    <!-- <a data-fancybox="gallery" data-no-swup href="img/works/2/1.gif" class="mil-zoom-btn">
                                        <img src="img/icons/zoom.svg" alt="zoom">
                                    </a> -->
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-between mil-mb-120">
                            <div class="col-lg-6">

                                <div class="mil-p-0-120">
                                    <!-- <ul class="mil-service-list mil-dark mil-mb-60">
                                        <li class="mil-up">Client: &nbsp;<span class="mil-dark">Envato Market</span></li>
                                        <li class="mil-up">Date: &nbsp;<span class="mil-dark">April 2023</span></li>
                                        <li class="mil-up">Author: &nbsp;<span class="mil-dark">Paul Trueman</span></li>
                                    </ul> -->

                                    <h5 class="mil-up mil-mb-30">Result</h5>
                                    <ul class="mil-service-list mil-dark mil-mb-60 works-list-type">
                                        <li>Increased brand stability and awareness through a comprehensive digital and brand strategy.</li>
                                        <li>Achieved 150% social growth by engaging with users on social media and executing a successful digital plan.</li>
                                        <li>Expanded product line with 9x SKU increase to offer a wider range of products to customers.</li>
                                        <li>Successfully entered the Mangalore market to expand the brand's reach and market share</li>
                                        <li>Leveraged influencer marketing campaigns and viral marketing efforts to attract new users and improve market position.</li>
                                        <li>Implemented a PAN India strategy to increase brand growth and sales through e-commerce and social media promotions.</li>
                                        <li>Developed and executed 3 successful market entry strategies to expand the brand's presence in new markets.</li>
                                        <li>Improved customer loyalty through effective digital and brand strategy planning</li>
                                    </ul>

                                    <!-- <p class="mil-up mil-mb-30">Our strategy was to create a comprehensive digital and brand strategy that would increase engagement and product awareness, leading to increased brand stability. We created social media accounts and executed a digital plan to engage with users and increase awareness of the product. We also implemented digital and brand strategy promotions to build the stability of the brand.</p> -->

                                    <!-- <p class="mil-up mil-mb-60">Presents a simple and quiet state when not in use, delivering a gentle and security.At the same time, the camera can adapt to a variety of environments, providing elegant ways of wall hanging and standing installation.</p> -->

                                    <!-- <a data-no-swup href="https://www.behance.net/gallery/117994149/Home-Security-Camera?tracking_source=curated_galleries_product-design" target="_blank" class="mil-link mil-dark mil-up  mil-arrow-place">
                                        <span>Visit website</span>

                                    </a> -->
                                </div>

                            </div>
                            <div class="col-lg-6 my-auto">

                                <div class="mil-image-frame mil-horizontal mil-up mil-mb-30">
                                    <img src="{% static 'assets/img/works/Surya-Colors.png' %}" alt="image">
                                    <!-- <a data-fancybox="gallery" data-no-swup href="img/works/2/1.gif" class="mil-zoom-btn">
                                        <img src="img/icons/zoom.svg" alt="zoom">
                                    </a> -->
                                </div>

                            </div>
                        </div>

<!-- 
                        <div class="mil-works-nav mil-up">
                            <a href="project-1.html" class="mil-link mil-dark mil-arrow-place mil-icon-left">
                                <span>Prev project</span>
                            </a>
                            <a href="portfolio-1.html" class="mil-link mil-dark">
                                <span>All projects</span>
                            </a>
                            <a href="project-3.html" class="mil-link mil-dark mil-arrow-place">
                                <span>Next project</span>
                            </a>
                        </div> -->
                    </div>
                </section>
                <!-- project end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="/contact/" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

   {% endblock %}