<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Home</a></li>
                                <li><a href="/works/">Works</a></li>
                                <li><a href="/tenalidoublehorse/">Tenalidouble Horse</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Tenalidouble<span class="mil-thin">Horse</span></h1>
                            <!-- <a href="#project" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Read more</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- project -->
                <section id="project">
                    <div class="container mil-p-120-120">
                        <div class="swiper-container mil-1-slider mil-up">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tenalidoublehorse-one.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/3/1.jpg" class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tenalidoublehorse-two.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/3/2.jpg" class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tenalidoublehorse-three.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/3/3.jpg" class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tenalidoublehorse-four.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/3/4.jpg" class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>


                                <!-- <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tdh-garalu-tdh-two.png' %}" alt="image">
                                       
                                    </div>

                                </div>

                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/tdh-dosa-tdh-three.png' %}" alt="image">
                                       
                                    </div>

                                </div> -->

                            </div>
                        </div>
                        <div class="row justify-content-center mil-center mil-p-120-120 works-content-sec">
                            <div class="col-lg-2">
                                <h3 class="mil-up mil-mb-60">Problem</h3>
                                <!-- <p class="mil-text-lg mil-up">This collection of Hawaii photography is focused on the immense power of lava at the Volcanos National Park on the Big Island of Hawaii. One of the most truly mystical scenes I have ever had the pleasure of capturing. For this collection I wanted to showcase this beauty in my own artistic way, through fine art landscape photography. However still keep these scenes natural and true to what I witnessed on my journey. For that reason, these images have been only lightly processed. All of these images are single exposures, unless listed otherwise in the caption below the photo.</p> -->
                            </div>
                            <div class="col-lg-10">
                                <!-- <h3 class="mil-up mil-mb-60">Problem</h3> -->
                                <p class="mil-text-lg mil-up">Tenali Double Horse, one of the biggest brands in South India, needed to focus on consistency, brand positioning, and clear strategy for new markets. With multiple teams handling the brand, there was a lack of unified brand guidelines and digital strategy</p>
                            </div>

                            <div class="col-lg-2 pt-5">
                                <h3 class="mil-up mil-mb-60">Strategy</h3>
                                <!-- <p class="mil-text-lg mil-up">This collection of Hawaii photography is focused on the immense power of lava at the Volcanos National Park on the Big Island of Hawaii. One of the most truly mystical scenes I have ever had the pleasure of capturing. For this collection I wanted to showcase this beauty in my own artistic way, through fine art landscape photography. However still keep these scenes natural and true to what I witnessed on my journey. For that reason, these images have been only lightly processed. All of these images are single exposures, unless listed otherwise in the caption below the photo.</p> -->
                            </div>
                            <div class="col-lg-10 pt-5">
                                <!-- <h3 class="mil-up mil-mb-60">Problem</h3> -->
                                <p class="mil-text-lg mil-up">We developed a robust solution starting with brand guidelines, educating the teams on the usage of the logo and brand materials across touchpoints. We then unified their digital strategy by working closely with their social team, ensuring a streamlined process. We introduced e-commerce in India, implemented an Amazon market entry strategy in the USA, and executed a direct market entry strategy in the USA. We redefined the product launches and introduced a new show, "Anubandham," that brought renowned celebrities on board to talk about their stories and launch Tenali Double Horse products. We also changed the entire brand positioning from competitive to premium and developed a strategy roadmap to make the brand a pan-Indian market leader by 2025.</p>
                            </div>

                            <div class="col-lg-2 pt-5 ">
                                <h3 class="mil-up mil-mb-60">Result</h3>
                                <!-- <p class="mil-text-lg mil-up">This collection of Hawaii photography is focused on the immense power of lava at the Volcanos National Park on the Big Island of Hawaii. One of the most truly mystical scenes I have ever had the pleasure of capturing. For this collection I wanted to showcase this beauty in my own artistic way, through fine art landscape photography. However still keep these scenes natural and true to what I witnessed on my journey. For that reason, these images have been only lightly processed. All of these images are single exposures, unless listed otherwise in the caption below the photo.</p> -->
                            </div>
                            <div class="col-lg-10 pt-5">
                                <ul class="works-list-type">
                                    <li>Established brand consistency and positioning for Tenali Double Horse</li>
                                    <li>Educated teams on the usage of the logo and brand materials across touchpoints
                                    </li>
                                    <li>Unified the digital strategy to ensure a streamlined process and implemented e-commerce in India.
                                    </li>
                                    <li>Successfully entered the US market through an Amazon market entry strategy and a direct market entry strategy.

                                    </li>
                                    <li>Redefined product launches and introduced the "Anubandham" show to launch products with renowned celebrities.

                                    </li>
                                    <li>Changed the brand's positioning from competitive to premium.

                                    </li>
                                    <li>Ongoing strategy roadmap to make the brand a pan-Indian market availability by Q4 2024.


                                    </li>

                                </ul>
                                <!-- <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 launchpad-head">
                                           
                                            
                                            
                                        </div>
                                       
            
                                    </div>
                                </div> -->
                                <!-- <h3 class="mil-up mil-mb-60">Problem</h3> -->
                                <!-- <p class="mil-text-lg mil-up">We developed a robust solution starting with brand guidelines, educating the teams on the usage of the logo and brand materials across touchpoints. We then unified their digital strategy by working closely with their social team, ensuring a streamlined process. We introduced e-commerce in India, implemented an Amazon market entry strategy in the USA, and executed a direct market entry strategy in the USA. We redefined the product launches and introduced a new show, "Anubandham," that brought renowned celebrities on board to talk about their stories and launch Tenali Double Horse products. We also changed the entire brand positioning from competitive to premium and developed a strategy roadmap to make the brand a pan-Indian market leader by 2025.</p> -->
                            </div>
                        </div>




                        <div class="mil-image-frame mil-horizontal mil-up mil-mb-120">
                            <img src="{% static 'assets/img/works/tdh-dosa-tdh-three.png' %}" alt="image">
                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/4/7.jpg" class="mil-zoom-btn">
                                <img src="img/icons/zoom.svg" alt="zoom">
                            </a> -->
                        </div>
                        <!-- <div class="mil-works-nav mil-up">
                            <a href="project-3.html" class="mil-link mil-dark mil-arrow-place mil-icon-left">
                                <span>Prev project</span>
                            </a>
                            <a href="portfolio-1.html" class="mil-link mil-dark">
                                <span>All projects</span>
                            </a>
                            <a href="project-5.html" class="mil-link mil-dark mil-arrow-place">
                                <span>Next project</span>
                            </a>
                        </div> -->
                    </div>
                </section>
                <!-- project end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="/contact/" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->


            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

{% endblock %}