
{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

<style>
    @media only screen and (max-width: 767px){
      br {
       display: block !important;
      }
  
      h4{
      color:var(--black-3) !important;
      font-weight: 600;
      text-align: left !important;
    
    }
    .detail-blog-content ul li{
        text-align: justify !important;
  }
}

  
  .detail-blog-content p{
    text-align: justify !important;
    padding-bottom: 15px !important;
  }
  
  h3{
      color:var(--black-3) !important;
      font-weight: 600;
    
  }
  .detail-blog-content h4{
      color:var(--black-3) !important;
      font-weight: 600;
      font-size: 20px !important;
      padding-bottom: 20px !important;
  }
  .detail-blog-content ul li{
      color:var(--black-3) !important;
      margin-bottom: 20px !important;
      
  }

  .detail-blog-content ul{
    padding-left: 30px !important;
      
  }
  .line{
      overflow: hidden;
      box-sizing: border-box;
      /* margin-top: 50px !important; */
  }
  .detail-blog-content{
    margin: auto !important;
  }
</style>


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="terms-conditions/">Terms And Conditions</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Terms And <span class="mil-thin">Conditions</span></h1>
                            <!-- <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our works</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <div class="container line pb-4 pt-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="detail-blog-content">
                                <p>For the purpose of these Terms and Conditions, The term "we", "us", "our" used anywhere on this page shall mean Grofessors Innovations private limited, whose registered/operational office is 212, A.P. COTTON ASSOCIATION, LAKSHMIPURAM MAIN RAOD Guntur ANDHRA PRADESH 522007 . "you", “your”, "user", “visitor” shall mean any natural or legal person who is visiting our website and/or agreed to purchase from us.</p>
                                <h4>Your use of the website and/or purchase from us are governed by following Terms and Conditions:</h4>
                                <ul>
                                    <li>The content of the pages of this website is subject to change without notice.</li>
                                    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                                    <li>Your use of any information or materials on our website and/or product pages is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through our website and/or product pages meet your specific requirements.</li>
                                    <li>Our website contains material which is owned by or licensed to us. This material includes, but are not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                                    <li>All trademarks reproduced in our website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
                                    <li>Unauthorized use of information provided by us shall give rise to a claim for damages and/or be a criminal offense.</li>
                                    <li>From time to time our website may also include links to other websites. These links are provided for your convenience to provide further information.</li>
                                    <li>You may not create a link to our website from another website or document without Grofessors Innovations private limited’s prior written consent.</li>
                                    <li>Any dispute arising out of use of our website and/or purchase with us and/or any engagement with us is subject to the laws of India .</li>
                                    <li>We, shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time</li>
                                </ul>
                                <p style="font-style: italic;font-weight: bold;">Disclaimer: The above content is created at Grofessors Innovations private limited's sole discretion. Razorpay shall not be liable for any content provided here and shall not be responsible for any claims and liability that may arise due to merchant’s non-adherence to it.</p>
                
                            </div>
                
                
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

   {% endblock %}