
{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/works/">Works</a></li>
                                <li><a href="/triplex/">Triplex</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Triplex <span class="mil-thin"></span></h1>
                            <!-- <a href="#project" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Read more</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- project -->
                <section class="mil-p-120-0">
                    <div class="mil-image-frame mil-fw mil-up mil-frame-img">
                        <img src="{% static 'assets/img/works/triplex-one.png' %}" alt="image">
                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/1.jpg" class="mil-zoom-btn">
                            <img src="img/icons/zoom.svg" alt="zoom">
                        </a> -->
                    </div>
                    <div class="container mil-p-0-120" id="project">
                        <!-- <div class="mil-info mil-up">
                            <div>Client: &nbsp;<span class="mil-dark">Envato Market</span></div>
                            <div>Date: &nbsp;<span class="mil-dark">April 2023</span></div>
                            <div>Author: &nbsp;<span class="mil-dark">Paul Trueman</span></div>
                        </div> -->

                        <div class="row justify-content-between mil-p-120-120">
                            <div class="col-lg-2">
                                <h3 class="mil-up mil-mb-60">Problem</h3>
                            </div>
                            <div class="col-lg-10">
                                <p class="mil-up mil-mb-30">Triplex, as a top detergent company in the Telugu states, faced the challenge of establishing a strong digital and social media presence to increase brand awareness and reach. The brand needed to improve its digital strategy, positioning, and reputation management to maintain its competitive edge.</p>

                                <!-- <p class="mil-up">Presents a simple and quiet state when not in use, delivering a gentle and security.At the same time, the camera can adapt to a variety of environments, providing elegant ways of wall hanging and standing installation.</p> -->
                            </div>

                            <div class="col-lg-2">
                                <h3 class="mil-up mil-mb-60">
                                    Strategy</h3>
                            </div>
                            <div class="col-lg-10">
                                <p class="mil-up mil-mb-30">We developed a comprehensive digital brand strategy for Triplex that included digital strategy, digital brand positioning, digital introduction, and reputation management. We focused on content marketing and monthly campaigns with creative designs to increase engagement and improve followers</p>

                                <p class="mil-up mil-mb-30">Digital Strategy: Utilized digital marketing channels like email, social media, and search engine optimization to increase brand awareness and reach.</p>
                                <p class="mil-up mil-mb-30">Developed engaging content that resonated with the target audience to increase engagement and improve followers.Utilized social media influencers to increase brand awareness and reach</p>
                                <p class="mil-up mil-mb-30">Digital Brand Positioning:Position Triplex as a top detergent brand in the Telugu states through a strong digital presence and engaging content</p>
                                <p class="mil-up mil-mb-30">Digital Introduction:Introduced Triplex to new digital and social media platforms to expand the brand's reach and increase brand awareness.</p>
                                <p class="mil-up mil-mb-30">Reputation Management:Managed the brand's reputation online by monitoring online reviews and responding to customer feedback in a timely and professional manner.</p>
                            </div>
                        </div>

                        <div class="mil-p-120-0">
                            <div class="swiper-container mil-2-slider mil-up">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-square mil-drag">
                                            <img src="{% static 'assets/img/works/triplex-one.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/2.jpg" class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-square mil-drag">
                                            <img src="{% static 'assets/img/works/triplex-two.png' %}" alt="image">
                                            <a data-fancybox="gallery" data-no-swup href="img/works/5/3.gif" class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-square mil-drag">
                                            <img src="{% static 'assets/img/works/triplex-three.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/4.jpg" class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-square mil-drag">
                                            <img src="{% static 'assets/img/works/triplex-one.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/5.gif" class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-square mil-drag">
                                            <img src="{% static 'assets/img/works/triplex-two.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/6.jpg" class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between mil-p-120-120">
                                <div class="col-lg-2">
                                    <h3 class="mil-up mil-mb-60">Result</h3>
                                </div>
                                <div class="col-lg-10">
                                    <ul>
                                        <li>Increased engagement by 315x through a comprehensive digital and social media strategy</li>
                                        <li>Launched Triplex in the Tamilnadu market, expanding the brand's presence and reach
                                        </li>
                                        <li>Promoted 17 new product launches on social media, increasing brand awareness and sales
                                        </li>
                                        
    
                                    </ul>
    
                                </div>
                            </div>
                        </div>
                        <div class="mil-image-frame mil-horizontal mil-up mil-mb-120">
                            <img src="{% static 'assets/img/works/triplex-two.png' %}" alt="image">
                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/5/7.gif" class="mil-zoom-btn">
                                <img src="img/icons/zoom.svg" alt="zoom">
                            </a> -->
                        </div>
                        <!-- <div class="mil-works-nav mil-up">
                            <a href="project-4.html" class="mil-link mil-dark mil-arrow-place mil-icon-left">
                                <span>Prev project</span>
                            </a>
                            <a href="portfolio-1.html" class="mil-link mil-dark">
                                <span>All projects</span>
                            </a>
                            <a href="project-6.html" class="mil-link mil-dark mil-arrow-place">
                                <span>Next project</span>
                            </a>
                        </div> -->
                    </div>
                </section>
                <!-- project end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="contact.html" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->



            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->


    {% endblock %}