<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/works/">Works</a></li>
                                <li><a href="/vsb/">vsb surfaces</a></li>
                            </ul>
                            <h1 class="mil-mb-60">VSB<span class="mil-thin">Surfaces</span></h1>
                            <!-- <a href="#project" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Read more</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- project -->
                <section class="mil-p-120-120">
                    <div class="mil-image-frame mil-fw mil-up">
                        <img src="{% static 'assets/img/works/vsb-one.png' %}" alt="image">
                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/1.jpg"  class="mil-zoom-btn">
                            <img src="img/icons/zoom.svg" alt="zoom">
                        </a> -->
                    </div>
                    <div class="container" id="project">
                        <!-- <div class="mil-info mil-up">
                            <div>Client: &nbsp;<span class="mil-dark">Envato Market</span></div>
                            <div>Date: &nbsp;<span class="mil-dark">April 2023</span></div>
                            <div>Author: &nbsp;<span class="mil-dark">Paul Trueman</span></div>
                        </div> -->


                        <div class="row justify-content-between mil-p-120-120 works-content-sec">
                            <div class="col-lg-2">
                                <h3 class="mil-up mil-mb-60">Problem</h3>
                            </div>
                            <div class="col-lg-10">
                                <p class="mil-up mil-mb-30">VSB Group, one of the top exporters of granites and quartz in South India, faced the challenge of improving their brand presence both online and offline. The brand needed a complete revamp to create a tailored approach for each of the 45 countries they export to. The company also required a brand architecture for their group of companies and individual line of brand positioning for each company.</p>

                                <!-- <p class="mil-up">Presents a simple and quiet state when not in use, delivering a gentle and security.At the same time, the camera can adapt to a variety of environments, providing elegant ways of wall hanging and standing installation.</p> -->
                            </div>

                            <div class="col-lg-2">
                                <h3 class="mil-up mil-mb-60">
                                    Strategy</h3>
                            </div>
                            <div class="col-lg-10">
                                <p class="mil-up mil-mb-30">We developed a comprehensive brand revamp strategy for VSB Group that included brand design, brand stationery, digital presence, portfolio, and complete rebranding.</p>
                                <p class="mil-up mil-mb-30">We also developed strategies to improve the brand offline and online through events, expos, and tailored approach for each country</p>
                            </div>
                        </div>


                        <div class="mil-p-120-120">
                            <div class="swiper-container mil-2-slider mil-up">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-vertical mil-drag">
                                            <img src="{% static 'assets/img/works/vsb-one.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/2.gif"  class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-vertical mil-drag">
                                            <img src="{% static 'assets/img/works/vsb-two.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/3.jpg"  class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-vertical mil-drag">
                                            <img src="{% static 'assets/img/works/vsb-three.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/4.gif"  class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>
                                    <div class="swiper-slide">

                                        <div class="mil-image-frame mil-vertical mil-drag">
                                            <img src="{% static 'assets/img/works/vsb-one.png' %}" alt="image">
                                            <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/5.jpg"  class="mil-zoom-btn">
                                                <img src="img/icons/zoom.svg" alt="zoom">
                                            </a> -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row justify-content-between mil-p-120-120 works-content-sec">
                                <div class="col-lg-2">
                                    <h3 class="mil-up mil-mb-60">Result</h3>
                                </div>
                                <div class="col-lg-10">
                                    <ul class="works-list-type">
                                        <li>Conducted a complete rebranding of VSB Group to create a unique and consistent brand identity</li>
                                        <li>Developed a tailored approach for each of the 45 countries they export to, creating a unique voice and brand positioning for each market
                                        </li>
                                        <li>Created a brand architecture for their group of companies and individual line of brand positioning for each company.
                                        </li>
                                        <li>Improved the brand's online presence through a comprehensive digital strategy, including social media, email marketing, and search engine optimization
                                        </li>
                                        <li>Increased brand visibility and reach through events and expos across India and Germany, bringing more B2B market for the brand.
                                        </li>
                                        
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container mil-2-slider mil-up mil-mb-120">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/vsb-one.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/6.jpg"  class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/vsb-two.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/7.jpg"  class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                                <div class="swiper-slide">

                                    <div class="mil-image-frame mil-horizontal mil-drag">
                                        <img src="{% static 'assets/img/works/vsb-three.png' %}" alt="image">
                                        <!-- <a data-fancybox="gallery" data-no-swup href="img/works/6/8.jpg"  class="mil-zoom-btn">
                                            <img src="img/icons/zoom.svg" alt="zoom">
                                        </a> -->
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- <div class="mil-works-nav mil-up">
                            <a href="project-5.html" class="mil-link mil-dark mil-arrow-place mil-icon-left">
                                <span>Prev project</span>
                            </a>
                            <a href="portfolio-1.html" class="mil-link mil-dark">
                                <span>All projects</span>
                            </a>
                            <a href="#." class="mil-link mil-dark mil-arrow-place mil-disabled">
                                <span>Next project</span>
                            </a>
                        </div> -->
                    </div>

                </section>
                <!-- project end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Got a project <span class="mil-thin">in mind?</span> <br>Let's make it a reality <span class="mil-thin">together</span></h2>
                            <div class="mil-up"><a href="/contact/" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->


            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->


{% endblock %}

   