
{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}


        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-breadcrumbs-title mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/works/">Works</a></li>
                            </ul>
                            <h1 class="mil-mb-60"><br><span class="mil-thin">Works</span></h1>
                            <!-- <a href="#" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our works</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- portfolio -->
                <section id="portfolio">
                    <div class="container mil-portfolio mil-p-120-60">

                        <div class="mil-lines-place"></div>
                        <div class="mil-lines-place mil-lines-long"></div>

                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5">

                                <a href="/telugufoods/" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/telugufoods-new-2.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Branding</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Brand Consulting</h4>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="/suryacolors/" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/surya.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Design</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Brand Design</h4>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="/tdh-rishika/" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/tdh.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Design</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Brand Consulting</h4>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="/tenalidoublehorse/" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/tenalidoublehorse.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Photography</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Digital Media</h4>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="/triplex/" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/tripleh.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Design</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Brand Consulting</h4>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="/vsbsurfaces/" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/vsb.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Design</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Digital Media</h4>
                                    </div>
                                </a>

                            </div>

                            <div class="col-lg-6">

                                <a href="/zavaine/" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="{% static 'assets/img/works/zavaine.png' %}" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <!-- <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Design</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div> -->
                                        <h4 class="mil-up">Brand Consulting</h4>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- portfolio end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="contact.html" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->


            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

{% endblock %}